name: Auto-generate Swagger UI urls config

on:
  push:
    branches: [ main ]
    paths:
      - 'docs/api_design/*.yaml'
      - '.github/workflows/autogenerate-swagger-urls.yml'

jobs:
  generate-urls:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: auto create swagger/swagger-initializer.js
        run: |
          echo 'window.onload = function() {' > docs/swagger/swagger-initializer.js
          echo '  const ui = SwaggerUIBundle({' >> docs/swagger/swagger-initializer.js
          echo '    urls: [' >> docs/swaggerswagger-initializer.js
          for i in docs/api_design/*.yaml; do
            fname=$(basename "$i")
            # OpenAPIのinfo.titleを抜き出す
            title=$(awk '/^info:/ {inf=1} inf && /^  title:/ {print; exit}' "$i" | sed -e 's/^  title:[ ]*//;s/"//g')
            if [ -z "$title" ]; then
              # OpenAPI v2用の探し方 or タイトル未設定対応
              title="$fname"
            fi
            echo "      { url: \"$fname\", name: \"$title\" }," >> docs/swagger/swagger-initializer.js
          done
          echo "    ]," >> docs/swagger/swagger-initializer.js
          echo "    dom_id: '#swagger-ui'" >> docs/swagger/swagger-initializer.js
          echo "  });" >> docs/swagger/swagger-initializer.js
          echo "  window.ui = ui;" >> docs/swagger/swagger-initializer.js
          echo '}' >> docs/swagger/swagger-initializer.js
      - name: commit autogenerated config
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add docs/swagger/swagger-initializer.js
          git commit -m "Auto-generate swagger-initializer.js" || exit 0
          git push
